@import "tailwindcss";

@theme {
  /* breakpoint */
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 36rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 75rem;
  --breakpoint-2xl: 90rem;

  /* radius */
  --radius-10: 0.625rem;
  --radius-20: 1.25rem;
}



@plugin "daisyui" {
  themes: light --default;
  exclude: rootscrollgutter;
}

@plugin "daisyui/theme" {
  color-scheme: "light";
  default: true;
  --color-primary: #f5cf60;
  --color-secondary: #ce4648;
  --color-neutral: #f5cf60;
  --color-base-content: #666666;
  --root-bg: #2c373d;
  --color-primary-content: #ffffff;
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: #b8b8b8;
  --color-accent-content: #f8f6f7;
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: #00a96e;
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: #ffbe00;
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: #ff5861;
  --color-error-content: oklch(98% 0.01 30);
}

html {
  font-family: var(--font-estedad);
  background-color: var(--root-bg);
  scroll-behavior: smooth;
}

:lang(en) {
  font-family: var(--font-lato);
}


@utility container {
  padding-inline: 1rem;
  margin-inline: auto;
}


img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-neutral-content);
  background: var(--color-neutral)
}

::selection {
  color: var(--color-neutral-content);
  background: var(--color-neutral)
}